%btn-shared {
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

%btn-std-size {
  width: 210px;
  padding: 18px 0;
}

%a-shared {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

%ul-shared {
  list-style-type: none;
  overflow: hidden;
  background-color: $dark-background;
}

%slogan-shared {
  height: 30px;
  margin-bottom: 15px;
  font-size: 24px;
}

.text-center {
  text-align: center;
}
